<a href="https://colab.research.google.com/github/Deshmukh20/GRIPSEP2021/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:- Mugdha Deshmukh

THE SPARKS FOUNDATION - GRIP-DATA SCIENCE AND BUSINESS ANALYST

Task 2 : prediction using unsupervised ml
Goal:- from the given 'IRIS' dataset , predict the optimal number of clusters and represent it visually

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

READING THE DATASET

In [3]:
dataset=pd.read_csv('Iris.csv')
dataset

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [4]:
#how many rows and column does data contains
dataset.shape

(150, 6)